fastapi
uvicorn
asyncpg
psycopg2-binary
python-dotenv
httpx
pydantic
langgraph
numpy
pydantic[email]
pypdf
python-multipart
google-generativeai
pydantic-settings
bcrypt
fastapi-mail
fpdf2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
tavily-python
requests